*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Build
build/
DerivedData/

# macOS
.DS_Store
