<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674330123002-8gm7j7u4nmbqt8c22t45d4om24o08k7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674330123002-8gm7j7u4nmbqt8c22t45d4om24o08k7u</string>
	<key>API_KEY</key>
	<string>AIzaSyBpSIo1D2k94o0eap0DX4nPde3C3mpIPZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>674330123002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaverka.mindnet</string>
	<key>PROJECT_ID</key>
	<string>mindnet-408d0</string>
	<key>STORAGE_BUCKET</key>
	<string>mindnet-408d0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674330123002:ios:04ae816f9fc4a2a1ae4743</string>
</dict>
</plist>